
.large { font-size: 136% }

.blue {
  color: #4387fd;
}

/* line 415, ../scss/default.scss */
.blue2 {
  color: #3c8ef3;
}

/* line 418, ../scss/default.scss */
.blue3 {
  color: #2a7cdf;
}

/* line 421, ../scss/default.scss */
.yellow {
  color: #ffd14d;
}

/* line 424, ../scss/default.scss */
.yellow2 {
  color: #f9cc46;
}

/* line 427, ../scss/default.scss */
.yellow3 {
  color: #f6c000;
}

/* line 430, ../scss/default.scss */
.green {
  color: #0da861;
}

/* line 433, ../scss/default.scss */
.green2 {
  color: #00a86d;
}

/* line 436, ../scss/default.scss */
.green3 {
  color: #009f5d;
}

/* line 439, ../scss/default.scss */
.red {
  color: #f44a3f;
}

/* line 442, ../scss/default.scss */
.red2 {
  color: #e0543e;
}

/* line 445, ../scss/default.scss */
.red3 {
  color: #d94d3a;
}

/* line 448, ../scss/default.scss */
.gray {
  color: #e6e6e6;
}

/* line 451, ../scss/default.scss */
.gray2 {
  color: darkgrey;
}

/* line 454, ../scss/default.scss */
.gray3 {
  color: #797979;
}

/* line 457, ../scss/default.scss */
.gray4 {
  color: #515151;
}




